<!DOCTYPE html>
<html>
	<head>
		<title>{{ page.title }}</title>
		<!-- link to main stylesheet -->
		<link rel="stylesheet" type="text/css" href="/css/main.css">
	</head>
	<body>
		<nav>
    		<ul>
        		<li><a href="/">Home</a></li>
	        	<li><a href="/about">About</a></li>
        		<li><a href="/blog">Blog</a></li>
        		<li><a href="/">Llog</a></li>
    		</ul>
		</nav>
		<div class="container">
                     {{ content }}
		</div><!-- /.container -->
		<footer>
    		<ul>
        		<li><a href="mailto:amy.xw2019@gmail.com">email</a></li>
        		<li><a href="https://github.com/amy-xw">github.com/amy-xw</a></li>
			<!-- <p><span>❤</span> 5xm21zy <span>❤</span></a></p> -->
			</ul>
		</footer>
	</body>
</html>
